{% extends 'yumenikki/base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">夢の詳細</h1>
        <p class="lead">詳細が見れます</p>
      </div>
    </div>

    <div class="container">
      <h1>{{ dreammodel.title }}</h1>
      <p>{{ dreammodel.create_time }}</p>

      <div class="post">
        <div class ="image">
          {% if dreammodel.image_1 %}
              <img src="{{ dreammodel.image_1.url }}" style="width:300px;height:auto">
          {% endif %}
          {% if dreammodel.image_2 %}
            <img src="{{ dreammodel.image_2.url }}" style="width:300px;height:auto">
          {% endif %}
          {% if dreammodel.image_3 %}
            <img src="{{ dreammodel.image_3.url }}" style="width:300px;height:auto">
          {% endif %}
          {% if dreammodel.image_4 %}
            <img src="{{ dreammodel.image_4.url }}" style="width:300px;height:auto">
          {% endif %}
        </div>
      </div>

      <div class="my-5">{{ dreammodel.content }}</div>

      {% include 'yumenikki/snippets/like_count.html' %}

      {% include 'yumenikki/snippets/tag.html' %}

    </div>

    <div class="container">
        <p class="btn-content"><a href="{% url 'idea_create' dreammodel.pk %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">新規作成</a></p>
        <p class="btn-content"><a href="{% url 'dream_list' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">一覧に戻る</a></p>
    </div>
{% endblock content %}