{% extends 'yumenikki/base.html' %}
{% load static %}

{% block header %}
  <link rel="stylesheet" href="{% static 'static/yumenikki/css/list.css' %}">
{% endblock header %}

{% block content %}

<!--ここは"ナビゲーションバー"です-->
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'idea_list' %}">アイディア</a>
  </li>
  {% comment %} <li class="nav-item">
    <a class="nav-link" href="{% url 'signup' %}">新規登録</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
  </li> {% endcomment %}
</ul>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">マユの夢日記</h1>
        <p class="lead">いつか見た夢を投稿します</p>
    </div>
</div>
<div class="container ">
  <div>
    <p class="new-btn"><a href="{% url 'dream_create' %}" class="btn btn-success btn-lg" tabindex="-1" role="button" aria-disabled="true">夢の新規作成</a></p>
  </div>

  <h1 class="display-1">
    注目の投稿
  </h1>
  {% for rank in ranks %}
    <div class="one_box">
      <h1>{{ rank.title }}</h1>
      <h4>{{ rank.create_time }}</h4>
        <div class="btns">
          <p class="btn-content"><a href="{% url 'dream_detail' rank.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">詳細</a></p>
          {% comment %} <p class="btn-content"><a href="{% url 'dream_update' rank.pk %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">編集</a></p>
          <p class="btn-content"><a href="{% url 'dream_delete' rank.pk %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">削除</a></p> {% endcomment %}
        </div>
    </div>
  <hr class="hr-primary" />
  {% endfor %}
  
  <h1 class="display-1">
    投稿一覧
  </h1>
  {% for dream in dreams %}
    <div class="one_box">
      <h1>{{ dream.title }}</h1>
      <h4>{{ dream.create_time }}</h4>
        <div class="btns">
          <p class="btn-content"><a href="{% url 'dream_detail' dream.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">詳細</a></p>
          {% comment %} <p class="btn-content"><a href="{% url 'dream_update' dream.pk %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">編集</a></p>
          <p class="btn-content"><a href="{% url 'dream_delete' dream.pk %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">削除</a></p> {% endcomment %}
        </div>
    </div>
  <hr>
  {% endfor %}
</div>
{% endblock content %}