{% extends 'yumenikki/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'todo/css/list.css' %}">
{% endblock header %}

{% block content %}

<!--ここは"ナビゲーションバー"です-->
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'dream_list' %}">夢日記</a>
  </li>
  {% comment %} <li class="nav-item">
    <a class="nav-link" href="{% url 'signup' %}">新規登録</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
  </li> {% endcomment %}
</ul>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">アイディア</h1>
        <p class="lead">投稿した夢から思いついたヤツ</p>
    </div>
</div>
<div class="container ">
  {% comment %} 夢を一覧表示する {% endcomment %}
{% comment %}   
  {% for dream in dreams %}
    <div class="one_box">
      <h1>{{ dream.dream}}
      <h1>{{ dream.title }}</h1>
      <h4>{{ dream.create_time }}</h4>
    </div>
  <hr>

  <div class="btns">
          <p class="btn-content"><a href="{% url 'dream_idea_detail' dream.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">詳細</a></p>
  </div>
  {% endfor %} {% endcomment %}

  <h1 class="display-1">
    アイディア一覧
  </h1>
  {% for idea in ideas %}
    <div class="one_box">
      <h1>{{ idea.title }}</h1>
      <h4>{{ idea.create_time }}</h4>
    </div>
  <hr>

  <div class="btns">
          <p class="btn-content"><a href="{% url 'idea_detail' idea.pk %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">詳細</a></p>
          {% comment %} <p class="btn-content"><a href="{% url 'idea_delete' idea.pk %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">削除</a></p> {% endcomment %}
  </div>
  {% endfor %}
</div>
{% endblock content %}