{% extends 'yumenikki/base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">アイディアの詳細</h1>
        <p class="lead">詳細が見れます</p>
      </div>
    </div>
    <div class="container">
        <h1>{{ ideamodel.title }}</h1>
        <p>{{ ideamodel.create_time }}</p>

      <div class="my-4">
        {{ ideamodel.content }}
      </div>

      <div class="post">
        <div class ="image">
          {% if ideamodel.image_1 %}
              <img src="{{ ideamodel.image_1.url }}" style="width:300px;height:auto">
          {% endif %}
          {% if ideamodel.image_2 %}
            <img src="{{ ideamodel.image_2.url }}" style="width:300px;height:auto">
          {% endif %}
          {% if ideamodel.image_3 %}
            <img src="{{ ideamodel.image_3.url }}" style="width:300px;height:auto">
          {% endif %}
          {% if ideamodel.image_4 %}
            <img src="{{ ideamodel.image_4.url }}" style="width:300px;height:auto">
          {% endif %}
        </div>
      </div>

      <div class="my-2">
        <p><a href="/dream_detail/{{ ideamodel.dream.pk }}/" type="button" class="btn btn-outline-secondary">
        引用元</a></p>
      </div>
    </div>


    <div class="container">
      <!--今後実装予定-->
      {% comment %} <p class="btn-content"><a href="{% url 'idea_create' ideamodel.pk %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">新規作成</a></p> {% endcomment %}
      <p class="btn-content"><a href="{% url 'idea_list' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">一覧に戻る</a></p>
    </div>
{% endblock content %}