{% extends 'yumenikki/base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">アイディアの詳細</h1>
        <p class="lead">詳細が見れます</p>
      </div>
    </div>
    <div class="container">
        <h1>{{ object.dream }}</h1>
        <h2>{{ object.title }}</h2>
        <p>{{ object.content }}</p>
        <p>{{ object.create_time }}</p>

      <div class="post">
        <div class ="image">
          {% if object.image_1 %}
              <img src="{{ object.image_1.url }}" style="width:300px;height:auto">
          {% endif %}
          {% if object.image_2 %}
            <img src="{{ object.image_2.url }}" style="width:300px;height:auto">
          {% endif %}
          {% if object.image_3 %}
            <img src="{{ object.image_3.url }}" style="width:300px;height:auto">
          {% endif %}
          {% if object.image_4 %}
            <img src="{{ object.image_4.url }}" style="width:300px;height:auto">
          {% endif %}
        </div>
      </div>
    </div>


    <div class="container">
        <p class="btn-content"><a href="{% url 'idea_create' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">新規作成</a></p>
        <p class="btn-content"><a href="{% url 'idea_list' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">一覧に戻る</a></p>
    </div>
{% endblock content %}