{% extends 'yumenikki/base.html' %}
{% load static %}

{% block header %}
  <meta charset="utf-8" />
  <title>index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock header %}

{% block content %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'idea_list' %}">アイディア</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'dream_list' %}">夢日記</a>
  </li>
</ul>

<div class="jumbotron jumbotron-fluid">
<h1>好きな場所に移動してください</h1>
<p>まだ2ページしかないけど...</p>
{% endblock content %}


